{{#each this}}
  <ul>
    <li>
      <h3>
        <a href='{{webformatURL}}' target='_blank'>{{tags}}</a>
      </h3>
      <img src='{{webformatURL}}' alt={{tags}} width='300' />
    </li>
  </ul>
{{/each}}